@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,700&display=swap');

body{
    background-color: #F3F1FF;
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    justify-content: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 20px 30px;
    
}
.section-title{
    color: #562EFF;
    font-weight: 500;
    font-size: 24px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
}

.player{
    display: flex;
    align-items: center;
}